[submodule "dircolors-solarized"]
	path = home/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	branch = master
[submodule "tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
[submodule "bin"]
	path = home/bin
	url = git@github.com:changyuheng/bin.git
