*.pyc
.*.swp

.DS_Store

/home/.tmux/plugins
/home/.tmux/resurrect

/home/.vim/.netrwhist
/home/.vim/.VimballRecord
/home/.vim/bundle
/home/.vim/doc/tags
/home/.vim/eclim
/home/.vim/plugged
/home/.vim/plugin/eclim.vim
