[submodule "bin"]
	path = 3rdparty/bin-changyuheng
	url = https://github.com/changyuheng/bin.git
	shallow = true
[submodule "dircolors-solarized"]
	path = 3rdparty/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	shallow = true
[submodule "open-huninn-font"]
	path = 3rdparty/open-huninn-font
	url = https://github.com/justfont/open-huninn-font.git
	shallow = true
[submodule "paq-nvim"]
	path = 3rdparty/paq-nvim
	url = https://github.com/savq/paq-nvim.git
[submodule "tpm"]
	path = 3rdparty/tpm
	url = https://github.com/tmux-plugins/tpm.git
	shallow = true
[submodule "zsh-snap"]
	path = 3rdparty/zsh-snap
	url = https://github.com/marlonrichert/zsh-snap.git
	shallow = true
