ACTION=="bind", SUBSYSTEM=="usb", ATTRS{idVendor}=="0853", ATTRS{idProduct}=="0152", RUN+="/home/jrhenry/dotfiles/bin/linux/swap-option-and-command-for-realforce-for-mac.sh"
ACTION=="remove", SUBSYSTEM=="usb", ATTRS{idVendor}=="0853", ATTRS{idProduct}=="0152", RUN+="/home/jrhenry/dotfiles/bin/linux/unswap-option-and-command-for-realforce-for-mac.sh"
